{deps_dir, "deps"}.

{deps, [
        {dh_date, ".*",
         {git, "git://github.com/daleharvey/dh_date.git", "master"}},
        {markdown, ".*",
         {git, "git://github.com/erlware/erlmarkdown.git", "HEAD"}},
        {laredo, ".*",
         {git, "git://github.com/hypernumbers/laredo.git", "HEAD"}}
       ]}.


{erl_opts, [warnings_as_errors, debug_info]}.

{plugins, [
           jekerl
          ]}.

{plugin_dir, "priv/rebar_plugins"}.

